head
    meta(property="og:title" content="Shit Dev Admin Panel")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://shitdev.nl")
    meta(property="og:description" content="Admin Dashboard for Analytics and Management")
    meta(name="theme-color" content="#FF3333")
    meta(name="twitter:card" content="summary_large_image")
    meta(http-equiv="refresh" content="0; url='https://www.youtube.com/watch?v=dQw4w9WgXcQ'")