doctype html
html
   head
      link(rel="stylesheet" href="static/css/bootstrap.min.css", type="text/css")
      link(rel="stylesheet" href="static/css/sudoku.css", type="text/css")
      script(src="static/js/sudoku.js")
      include ../general/wrapper_head
   body
      include ../general/element_header
      include ../general/element_sudoku