.hover-shrink a {
    transition: 0.4s;
}

.hover-shrink:hover a {
    font-size: 90%;
}

body {
    background-color: #1c1c1c;
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: 100%;
}

.page_content {
  margin-bottom: -10vh;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.page_content:after {
  content: "";
  display: block;
  height: vh; /* the footer's total height */
}

.category {
    font-size: 300%;
    text-align: center;
    margin: 30px auto 0px;
}

.category-wrapper {
    margin-bottom: 100px;
}

/*footer {
    position: fixed;
    background-color: #0f0f0f;
    color: white;
    text-align: center;
    font-size: 18px;
    height: 10vh;
    width: 100%;
}*/

.footer {
    width: 100%;
    height: 1vh;
    background-color: #0f0f0f;
    color: white;
    text-align: center;
    font-size: 18px;
    z-index: 1;
}

.footer_wrapper {
    margin-top: 1vh;
}

.topnav {
    background-color: #0f0f0f;
    overflow: hidden;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0;
    user-select: none;
 }

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1vh calc(10px + 1vw);
    text-decoration: none;
    font-size: calc(10px + 1.2vw);
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

a.tab {
    float: right;
    transition: color 0.2s;
}

a.tab:hover {
    color: #ff3333;
}

#logo a {
    user-select: none;
}

#red {
    color: #ff3333;
    cursor: pointer;
}

.title {
    font-size: calc(10px + 4.5vw);
    text-align: center;
    margin-top: calc(20px + 8vh);
    user-select: none;
}

.subtitle {
    user-select: none;
    text-align: center;
    font-size: calc(5px + 2vw);
}

/*
.topic {
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 15px;
}
 */

* {
    font-family: "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap",sans-serif;
    margin: 0;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #ffffff;
    text-decoration: none;
}

.scrollarrow {
    margin-left: 66vw;
    transform: translate(-50%,-50%);
}
.scrollarrow span {
    display: block;
    width: calc(15px + 2.3vh);
    height: calc(15px + 2.3vh);
    border-bottom: calc(3px + 0.3vh) solid #fff;
    border-right: calc(3px + 0.3vh) solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate-scrollarrow 2s infinite;
}
.scrollarrow span:nth-child(2) {
    animation-delay: -0.2s;
}
.scrollarrow span:nth-child(3) {
    animation-delay: -0.4s;
}
.scrollarrow span:nth-child(4) {
    animation-delay: -0.5s;
  
}
@keyframes animate-scrollarrow {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}



@media only screen and (max-width: 560px) {
    .title {
        font-size: calc(10px + 8vw);
        margin-top: 10vh;
    }

    .socials {
        font-size: calc(6vw + 2px);
        margin-top: calc(25vh + 5px);
    }

    .subtitle {
        font-size: calc(2px + 3.3vw);
    }
}