.hover-shrink a {
    transition: 0.4s;
}

.hover-shrink:hover a {
    font-size: 90%;
}

body {
    background-color: #1c1c1c;
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: 100%;
}

.page_content {
  margin-bottom: -10vh;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.page_content:after {
  content: "";
  display: block;
  height: 10vh; /* the footer's total height */
}

.category {
    font-size: 300%;
    text-align: center;
    margin: 30px auto 0px;
}

.category-wrapper {
    margin-bottom: 100px;
}

/*footer {
    position: fixed;
    background-color: #0f0f0f;
    color: white;
    text-align: center;
    font-size: 18px;
    height: 10vh;
    width: 100%;
}*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7%;
    background-color: #0f0f0f;
    color: white;
    text-align: center;
    font-size: 18px;
    align-self: flex-end;
}

.footer_wrapper {
    margin-top: 7%;
}

.topnav {
    background-color: #0f0f0f;
    overflow: hidden;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0;
    user-select: none;
 }

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1.2% 16px;
    text-decoration: none;
    font-size: 250%;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

a.tab {
    float: right;
    transition: color 0.2s;
}

a.tab:hover {
    color: #ff3333;
}

#logo a {
    user-select: none;
}

#red {
    color: #ff3333;
    cursor: pointer;
}

.title {
    font-size: 600%;
    text-align: center;
    padding-top: 80px;
    user-select: none;
}

.subtitle {
    user-select: none;
    text-align: center;
    font-size: 300%;
}

/*
.topic {
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 15px;
}
 */

* {
    font-family: roboto,sans-serif;
    margin: 0;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #ffffff;
    text-decoration: none;
}