.socials {
    text-align: center;
    font-size: 15px;
    user-select: none;
}
.socials button {
    background-color: transparent;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 2px solid #ffffff;
    color: #ffffff;
    width: 130px;
    height: 40px;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: color 0.2s,width 0.4s,height 0.4s,border 0.4s,background-color 0.2s;
}

.socials button:hover {
    color: #ffffff;
    width: 110px;
    height: 35px;
}

#SOB:hover {
    background-color: #f48024;
    border: 0px solid #f48024;
}

#GHB:hover {
    background-color: #999999;
    border: 0px solid #999999;
}

#THMB:hover {
    background-color: #1c2538;
    border: 0px solid #1c2538;
}

#CG:hover {
    background-color: #f2bb13;
    border: 0px solid #f2bb13;
}

#extend_div {
    padding-top: 10px;
    margin: 0 auto;
    word-wrap: break-word;
    width: 54ch;
    text-align: left;
    height:225px;
}