.socials {
    text-align: center;
    font-size: calc(1.7vw + 8px);
    user-select: none;
    /* Use this with scroll arrow
    margin-top: calc(5px + 18vh);*/
    margin-top: calc(30vh - 20px);
}

.socials button {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    width: calc(60px + 5.8vw);
    height: calc(30px + 2vw);
    border-radius: 1337px;
    outline: none;
    cursor: pointer;
    margin-left: calc(1px + 0.2vw);
    margin-right: calc(1px + 0.2vw);
    font-size: calc(1vw + 7px);
    transition: color 0.2s,width 0.4s,height 0.4s,border 0.4s,background-color 0.2s;
}

.scrollarrow {
    margin-top: calc(20px + 15vh);
}

.socials button:hover {
    color: #ffffff;
    width: calc(50px + 5.8vw);
    height: calc(15px + 3vw);
}

#SOB:hover {
    background-color: #f48024;
    border: 0px solid #f48024;
}

#GHB:hover {
    background-color: #999999;
    border: 0px solid #999999;
}

#THMB:hover {
    background-color: #1c2538;
    border: 0px solid #1c2538;
}

#CG:hover {
    background-color: #f2bb13;
    border: 0px solid #f2bb13;
}

#extend_div {
    word-wrap: break-word;
    width: 54ch;
    text-align: left;
    height: 4vh;
    font-size: 35px;
    margin: 10px auto 200px;
}

header {    
	height: 90vh;
}

section {
	height: 100vh;
	width: 99.3vw;
	position: relative;
    text-align: center;
}

section#more  {
    background-color: #212121;
}