.project_topic {
    font-size: 250%;
    margin: 0 auto;
}

.project_meta {
    margin-top: 10px;
}

.project_description {
    font-size: 150%;
    margin: 0 auto;
}

.project_container {
    margin-top: 40px;
}

.project_github {
    float: right;
}

.project_banner {
    border-radius: 20px;
    border: 10px solid #ff3333;
}

.project_tag {
    font-size: 160%;
    margin-right: 8px;
    padding: 4px;
    color: #000000;
    border-radius: 5px;
    border: 2px solid #ffffff;
    background: #ffffff;
    text-decoration: none;
    transition: .5s;
}

.project_tag:hover {
    font-size: 145%;
    color: #000000;
}

.noprojects {
    font-size: 200%;
    margin: 0 auto;
    text-align: center;
}

#selected_tags {
    margin-top: 50px;
}

#selected_tags a {
    font-size: 200%;
}