.category {
    font-size: 300%;
    text-align: center;
    margin: 30px auto 10px;
}
.project_topic {
    font-size: 250%;
    margin: 0 auto;
}

.project_meta {
    margin-top: 10px;
}

.project_banner {
}

.project_description {
    font-size: 150%;
    margin: 0 auto;
}

.project_github {
    float: right;
}

.project_tag {
    font-size: 160%;
    margin-right: 8px;
    padding: 4px;
    color: #000000;
    border-radius: 5px;
    border: 2px solid #ffffff;
    background: #ffffff;
    text-decoration: none;
    transition: .5s;
}

.project_tag:hover {
    font-size: 145%;
    color: #000000;
}

.noprojects {
    font-size: 200%;
    margin: 0 auto;
    text-align: center;
}