meta(charset="UTF-8")
meta(property="og:title" content="Shit dev")
meta(property="og:type" content="website")
meta(property="og:url" content=`https://shitdev.nl${url}`)
meta(property="og:description" content="Chronic depression generator")
meta(name="description" content="Lau's portfolio website. Coding, hacking, and reverse engineering.")
meta(name="url" content=`https://shitdev.nl${url}`)
meta(name="type" content="website")
meta(name="title" content="ShitDev")
meta(name="theme-color" content="#1c1c1c")
meta(name="twitter:card" content="summary_large_image")
title shitdev.nl | #{browser_title} 

link(rel="stylesheet", href="../../static/css/general.css", type="text/css")
script(src="static/js/general.js")
