doctype html
html
    head
        link(rel="stylesheet" href="static/css/bootstrap.min.css", type="text/css")
        link(rel="stylesheet", href="static/css/index.css", type="text/css")
        script(src="static/js/index.js")
        include ../../general/wrapper_head
    body 
        div.page_content
            include ../../general/wrapper_body
        include ../../general/wrapper_footer