doctype html
html
   head
      link(rel="stylesheet" href="static/css/bootstrap.min.css", type="text/css")
      link(rel="stylesheet", href="static/css/index.css", type="text/css")
      script(src="static/js/index.js")
      include ../general/wrapper_head
   body
      div.page_content
         header
            include ../general/wrapper_body
            div.socials
               p Where you can find me
               button#GHB(onclick="window.location.href='https://github.com/Notselwyn'") GitHub
               button#CG(onclick="window.location.href='https://www.codingame.com/profile/295bd8e2b5e1c553cc4cbbacc9bde1f50218214'") CodinGame
               button#THMB(onclick="window.location.href='https://tryhackme.com/p/notselwyn'") TryHackMe
            div.scrollarrow(onclick="window.location.href='#more'", style="cursor: pointer")
               span
               span 
               span
         svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 160")
               path(fill="#212121" fill-opacity="1" d="M0,96L40,90.7C80,85,160,75,240,80C320,85,400,107,480,122.7C560,139,640,149,720,138.7C800,128,880,96,960,96C1040,96,1120,128,1200,144C1280,160,1360,160,1400,160L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z")
         section#more
            div.title
               b
                   each elem in title
                       if elem.startsWith("!")
                           a(onclick="rainbow_c()")#red=elem.slice(1)
                       else
                           a=elem
      include ../general/wrapper_footer
      