doctype html
html
   head
      link(rel="stylesheet" href="static/css/bootstrap.min.css", type="text/css")
      link(rel="stylesheet", href="static/css/index.css", type="text/css")
      script(src="static/js/index.js")
      include ../general/wrapper_head
   body
<<<<<<< HEAD
      div.page_content
         include ../general/wrapper_body
         div.socials
            p Where you can find me
            button#GHB(onclick="window.location.href='https://github.com/Notselwyn'") GitHub
            button#CG(onclick="window.location.href='https://www.codingame.com/profile/295bd8e2b5e1c553cc4cbbacc9bde1f50218214'") CodinGame
            button#THMB(onclick="window.location.href='https://tryhackme.com/p/notselwyn'") TryHackMe
      include ../general/wrapper_footer
      
=======
      include ../general/wrapper_body
      div.socials
         p Where you can find me
         button#GHB(onclick="window.location.href='https://github.com/Notselwyn'") GitHub
         button#CG(onclick="window.location.href='https://www.codingame.com/profile/295bd8e2b5e1c553cc4cbbacc9bde1f50218214'") CodinGame
         button#THMB(onclick="window.location.href='https://tryhackme.com/p/notselwyn'") TryHackMe
      a.footer
>>>>>>> main
